/* StackPane style */
.stack-pane {
    -fx-background-color: #808080;
    -fx-border-color: #707070;
    -fx-border-radius: 2%;
    -fx-border-weight: solid;
    -fx-border-width: 8px;
}

/* Label styles */
.label-player-1 {
    -fx-font-weight: bold;
    -fx-font-size: 20.0;
    -fx-font-name: "System Bold";
}

.label-status {
    -fx-font-size: 25.0;
    -fx-text-alignment: CENTER;
}

.label-player-2 {
    -fx-font-weight: bold;
    -fx-text-alignment: RIGHT;
    -fx-font-size: 20.0;
    -fx-font-name: "System Bold";
}

/* GridPane style */
.grid-pane {
    -fx-background-color: #323232;
    -fx-padding: 20px;
    -fx-background-radius: 2%;
}

/* Reset Button */
.reset-button {
    -fx-background-color: #404040;
    -fx-text-fill: #DD2E26;
    -fx-font-weight: bold;
    -fx-font-size: 15.0;
}

/* Connection Container */
.connection-container {
    -fx-background-color: #707070;
    -fx-border-style: solid;
    -fx-border-width: 5px 0 0 0;
    -fx-border-color: #656565;
}

/* Connection Labels */
.connection-label {
    -fx-font-size: 12.0;
    -fx-font-weight: bold;
}

/* Button */
.connect4-button {
    -fx-background-color: transparent;
    -fx-background-radius: 50%;
    -fx-border-color: #808080;
    -fx-border-radius: 50%;
    -fx-border-weight: solid;
    -fx-border-width: 8px;
}

/* Pieces */
.red {
    -fx-background-color: #B40001;
    -fx-border-color: #CC3E36;
    -fx-border-width: 12px;
}

.red-player-name {
    -fx-text-fill: #CC3E36;
}

.yellow {
    -fx-background-color: #E6B400;
    -fx-border-color: #E6CC00;
    -fx-border-width: 12px;
}

.yellow-player-name {
    -fx-text-fill: #E6CC00;
}

.blue {
    -fx-background-color: #000099;
    -fx-border-color: #0066FF;
    -fx-border-width: 12px;
}

.blue-player-name {
    -fx-text-fill: #0066FF;
}

.light-red {
    -fx-background-color: #c6415a;
    -fx-border-color: #db5971;
    -fx-border-width: 12px;
}

.light-red-player-name {
    -fx-text-fill: #db5971;
}

.orange {
    -fx-background-color: #CC6600;
    -fx-border-color: #FF9900;
    -fx-border-width: 12px;
}

.orange-player-name {
    -fx-text-fill: #FF9900;
}

.purple {
    -fx-background-color: #660066;
    -fx-border-color: #9900CC;
    -fx-border-width: 12px;
}

.orange-player-name {
    -fx-text-fill: #9900CC;
}

.cyan {
    -fx-background-color: #3399FF;
    -fx-border-color: #66CCFF;
    -fx-border-width: 12px;
}

.orange-player-name {
    -fx-text-fill: #66CCFF;
}

.pink {
    -fx-background-color: #FF33CC;
    -fx-border-color: #FF66CC;
    -fx-border-width: 12px;
}

.orange-player-name {
    -fx-text-fill: #FF66CC;
}

.winningPiece {
    -fx-border-color: #00CC00;
}
